@font-face {
  font-family: Lora;
  font-weight: 400;
  font-style: normal;
  src: local("Lora"), local("Lora-Regular"),
    url("./fonts/Lora-Regular.woff2") format("woff2"),
    url("./fonts/Lora-Regular.woff") format("woff"),
    url("./fonts/Lora-Regular.eot") format("eot");
  font-display: fallback;
}
@font-face {
  font-family: Oxygen;
  font-weight: 400;
  font-style: normal;
  src: local("Oxygen"), local("Oxygen-Regular"),
    url("./fonts/Oxygen-Regular.woff2") format("woff2"),
    url("./fonts/Oxygen-Regular.woff") format("woff"),
    url("./fonts/Oxygen-Regular.eot") format("eot");
  font-display: fallback;
}
