*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

button{
  cursor: pointer;
  color: inherit;
}

a{
  text-decoration: none;
  font-family: inherit;
  color: inherit
}

body{
  font-family: 'Oxygen', sans-serif;
  background: rgb(247, 247, 247);
  color: rgb(46, 46, 46);
  font-weight: 400;
}

.header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 20px;
  color: white;
}

.container{
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: Lora;
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
}

.header__main_lists {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
  align-items: center;
}

.header__main_list{
  font-family: Oxygen;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  opacity: 0.7;
}



.title__piece{
  padding: 177px 0 164px 0;
  background-image: url(../images/blog-main.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.title__piece_main{
  text-align: center;
}

.title__piece_main--title{
  font-family: Lora;
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-weight: normal;
}

.title__piece_main--subtitle{
  color: rgba(255, 255, 255, 0.63);
  font-family: Oxygen;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 30px;
}

.button{
  background-color: rgb(221, 120, 63);
  transition: all 0.3s ease-in-out;
  border: none;
}

.button:hover{
  background-color: rgb(134, 75, 40);
}

.title__piece_main--button{
  padding: 12px 31px;
  border-radius: 3px;
}



.main__navigation{
  background-color: #fff;
  margin-bottom: 60px;
}

.main__navigation_nav{
  padding: 22px 0;
}

.main__navigation_lists{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 91px;
  justify-content: center;
}

.main__navigation_list{
  color: #768088;
  font-family: Lora;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}


.main__featured-posts{
  margin-bottom: 67px;
}

.div__title{
  display: flex;
  justify-content: center;
}

.main__title{
  padding: 0 10px 12px;
  border-bottom: 1px solid rgb(222, 222, 222);;
  color: rgb(46, 46, 46);
  font-family: Oxygen;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 2px;
  margin-bottom: 23px;
}

.main__featured-posts_box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

.featured-posts__image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.featured-posts__image img{
  position: relative;
  z-index: -1;
  max-width: 460px;
  min-height: 280px;
}

.main__featured-posts_box-1{
  background-image: url(../images/theroadahead.png);
}

.main__featured-posts_box-2{
  background-image: url(../images/fromtopdown.png);
}

.featured-posts__boxes{
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15px 20px;
  width: 460px;
  height: 280px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main__featured-posts_box-2_button{
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 6px 9px;
  border-radius: 2px;
}

.featured-posts__boxes_title{
  font-weight: 400;
  margin-bottom: 6px;
  font-family: Lora;
  font-size: 27px;
  line-height: 30px;
}

.default__text{
  color: rgba(255, 255, 255, 0.7);
  font-family: Oxygen;
  font-size: 14px;
  line-height: 25px;
}

.featured-posts__box_text{
  margin-bottom: 12px;
}

.featured-posts__box_who{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 5px;
}

.featured-posts__box_info{ 
  display: flex;
  justify-content: space-between;
}




.main__most-recent{
  margin-bottom: 90px;
}

.most-recent__boxes{
  display: flex;
  flex-wrap: wrap;
  gap: 25px 24px;
  justify-content: center;
}

.most-recent__box{
  max-width: 296px;
  max-height: 291px;
  height: auto;
}

.most-recent__box_text{
  padding: 14px 13px;
  border-bottom: 1px solid rgb(239, 239, 239);
  background-color: #fff;
  min-height: 93px;
}

.most-recent__box_title{
  color: rgb(16, 19, 21);
  font-family: Lora;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 6px;
}

.most-recent__box_subtitle{
  color: rgb(122, 122, 122);
  font-family: Oxygen;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.most-recent__box_who{
  padding: 7px 13px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(252, 252, 252);
}

.most-recent__box_info{
  display: flex;
  gap: 0 10px;
  align-items: center;
}

.most-recent__box_name{
  color: rgb(153, 153, 153);
  font-family: Oxygen;
  font-size: 11px;
  font-weight: 400;
  line-height: 35px;
}

.most-recent__box_when-wrote{
  color: rgb(153, 153, 153);
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
}

.footer{
  background-image: url(../images/footer-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  position: relative;
}

.footer::before{
  content: '';
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(35, 47, 56, 0.6);
  z-index: 0;
}

.footer-nav{
  display: flex;
  justify-content: space-between;
  padding: 31px 0 32px 0;
  align-items: center;
  position: relative;
}

.footer-navigation-lists{
  display: flex;
  gap: 0 20px;
}

.footer-navigation-list{
  color: rgba(255, 255, 255, 0.6);
  font-family: Oxygen;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}