*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

button{
    cursor: pointer;
    color: inherit;
}
  
a{
    text-decoration: none;
    font-family: inherit;
    color: inherit
}

body{
    font-family: 'Oxygen', sans-serif;
    background: #fff;
    color: rgb(46, 46, 46);
    font-weight: 400;
}

.header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    padding-top: 20px;
}

.container{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}


.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Lora', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
}

.navigation ul{
    display: flex;
    gap: 0 40px;
}

.navigation li{
    font-family: Oxygen;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.6;
}

.top{
    padding: 177px 0 164px 0; 
    background-image: url(../images/main-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff
}

.top__main{
    text-align: center;
}

.title{
    font-family: Lora;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    margin-bottom: 20px;
}

.under__title{
    line-height: 20px;
    font-size: 17px;
    opacity: 0.63;
    margin-bottom: 30px;
}

.button__title{
    background-color: #dd783f;
    padding: 12px 31px;
    font-size: 13px;
    line-height: 20px;
    border: none;
    transition: all 0.3s;
}

.navigation{
    margin-bottom: 60px;
}

.main__nav{
    padding: 22px 0;
}

.main__nav ul{
    display: flex;
    justify-content: center;
    gap: 91px
}

.main__nav li{
    color: #768088;
    font-family: Lora;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
}

.other__pages-blog{
    margin-bottom: 67px;
}

.other__pages-blog--title, .most__recent--title{
    display: flex;
    justify-content: center;
}

.other__pages-blog--title h2, .most__recent--title h2{
    padding: 0 10px 12px;
    border-bottom: 1px solid #dedede;;
    color: #2e2e2e;
    font-family: Oxygen;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 2px;
    margin-bottom: 23px;
}

.other__pages-blog--case{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.other__pages-blog--case-1{
    background-image: url(../images/roadahead.png);
}

.other__pages-blog--case-2{
    background-image: url(../images/fromtopdown.png);
}

.other__pages-blog--case-1, .other__pages-blog--case-2{
    position: relative;
    background-position: center;
    padding: 15px 20px;
    width: 460px;
    height: 280px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.other__pages-blog--case-2__button{
    background-color: #dd783f;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 6px 9px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
}

.other__pages-blog--case-1 h3, .other__pages-blog--case-2 h3{
    font-family: Lora;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 2px;
}

.just__text{
    font-family: Oxygen;
    color: #fff;
    opacity: 0.7;
    font-size: 14px;
    line-height: 25px;
}

.other__pages-blog--case-1__text, .other__pages-blog--case-2__text{
    margin-bottom: 12px;
}

.other__pages-blog--case-1__card, .other__pages-blog--case-2__card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
}

.other__pages-blog--case-1__date, .other__pages-blog--case-2__date{
    display: flex;
    justify-content: space-between;
}

.most__recent{
    margin-bottom: 90px;
}

.most__recent--cases{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 25px;
}

.most__recent--case{
    max-width: 296px;
    max-height: 291px;
}

.most__recent--case__inner-text{
    padding: 14px;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    min-height: 95px;
}

.most__recent--case__inner-text h3{
    color: #101315;
    font-family: Lora;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 6px;
}

.most__recent--case__inner-text p{
    color: #7a7a7a;
    font-family: Oxygen;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}

.most__recent--case__inner-who{
    padding: 7px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.most-recent--case__inner-who-info{
    display: flex;
    gap: 0 10px;
    align-items: center;
}

.most-recent--case__inner-who--name{
    color: #999999;
    font-family: Oxygen;
    font-size: 11px;
    font-weight: 400;
    line-height: 35px;
}

.most-recent--case__inner-date{
    color: #999999;
    font-family: Oxygen;
    font-size: 12px;
    line-height: 35px;
}

.footer {
    background-image: url(../images/footer-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    position: relative;
  }
  
  .footer::before {
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: #232f38;
    opacity: 0.6;
    z-index: 0;
  }
  
  .footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 31px 0 32px 0;
    align-items: center;
    position: relative;
  }
  
  .footer-navigation-lists {
    display: flex;
    gap: 0 20px;
  }
  
  .footer-navigation-list {
    color:#fff;
    opacity: 0.6;
    font-family: Oxygen;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }